@charset "utf-8";
/* MINDsLab. YMJ. 20200221 */

/* -------------------- Layer Popup -------------------- */
.lyrWrap{display:block; position:fixed; top:0; left:0; width:100%; height:100%; z-index:9999;}
.lyrWrap .lyr_bg{position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.85);}
.lyrWrap .lyr_bg.ie9{position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255,1.0);}

.lyrBox{display:none; overflow:hidden; position:absolute; top:40%; left:50%; width:500px; margin:0; border-radius:5px; background:#fff; box-shadow:0 0 25px rgba(11,42,74,0.3); transform:translate(-50%,-50%); -webkit-animation:lyr_show 0.3s 0s ease-out; animation:lyr_show 0.3s 0s ease-out;}
.lyrWrap .lyrBox {display:block;}

.lyrBox .lyr_top{clear:both; overflow:hidden; padding:10px 15px; background:#24b47e;}
.lyrBox .lyr_top h3{float:left; padding:0; color:#fff; font-size:16px; font-weight:500;}
.lyrBox .lyr_top .btn_lyr_close{position:relative; overflow:hidden; float:right; width:22px; height:22px; margin:0 5px 0 0; text-indent:-99px; border:none; background:none; opacity:0.3; transition:all 0.3s ease-out; cursor:pointer;}
.lyrBox .lyr_top .btn_lyr_close:hover, .lyrBox .lyr_top .btn_lyr_close:focus{opacity:0.7; transition:all 0.3s ease-out;}
.lyrBox .lyr_top .btn_lyr_close:before{content:''; position:absolute; top:50%; left:0%; width:100%; height:2px; background:#fff; border-radius:5px; transform:rotate(45deg);}
.lyrBox .lyr_top .btn_lyr_close:after{content:''; position:absolute; top:50%; left:0%; width:100%; height:2px; border-radius:5px; background:#fff; transform:rotate(-45deg);}

.lyrWrap .lyrBox .lyr_mid{display:block; overflow:auto; max-height:500px; padding:15px; background:#fff;}
.lyrWrap .lyrBox .lyr_mid .massageNum {padding:50px 0; font-size:20px; text-align:center;}
.lyrWrap .lyrBox .lyr_mid .massageNum strong {display:block; padding:20px 0 0 0; font-size:28px;}
.lyrWrap .lyrBox .lyr_mid .legacy-browser{display:block; padding:20px 10px; font-size:14px; line-height:20px;}
.lyrWrap .lyrBox .lyr_mid .legacy-browser a{color:#24b47e;}
.lyrWrap .lyrBox .lyr_mid .legacy-browser a:hover, .lyrWrap .lyrBox .lyr_mid .legacy-browser a:focus{text-decoration:underline;}

.lyrWrap .lyrBox .lyr_btm{display:block; padding:10px; text-align:center; background:#f1f2ff;}
.lyrWrap .lyrBox .lyr_btm .btnBox.sz_small button {height:28px;}

.lyr_hide{-webkit-animation-duration:0.5s; animation-duration:0.5s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:lyr_hide; animation-name:lyr_hide;}

/*0303 mrs 추가*/
#massagePop {display: none;}
#massagePop button {display: block; background: #24b47e;width:200px; height:40px;border-radius: 4px; margin:0 auto 30px;border:none; color:#fff; font-size:18px;}

/* keyframes */
@-webkit-keyframes lyr_show{
0%  {top:35%; opacity:0;}
100%{top:40%; opacity:1;}
}
@keyframes lyr_show{
0%  {top:35%; opacity:0;}
100%{top:40%; opacity:1;}
}
@-webkit-keyframes lyr_hide{
0%  {opacity:1;}
100%{opacity:0;}
}
@keyframes lyr_hide{
0%  {opacity:1;}
100%{opacity:0;}
}

/* -------------------- 공통 -------------------- */
/* button */
.btnBox{display:block;}
.btnBox button{display:inline-block; height:100%; margin:0 5px 0 0; padding:0 20px; font-size:13px; text-align:center; border:1px solid #999; border-radius:5px; background-color:#fff; transition:all 0.3s ease-out;}
.btnBox button:hover{box-shadow:0 2px 4px rgba(11,42,74,0.3); transition:all 0.3s ease-out;}
.btnBox button span{display:block; line-height:12px;}
.btnBox button img{vertical-align:middle;}
.btnBox button:disabled{cursor:default;}
.btnBox button:disabled:hover, .btnBox button:disabled:focus{text-decoration:none; box-shadow:none;}
.btnBox button:last-child{margin-right:0;}

.btnBox.sz_large button{min-width:120px; height:46px; line-height:44px;}
.btnBox.sz_large button img{display:inline-block; width:18px; margin:-3px 7px 0 0;}
.btnBox.sz_regular button{min-width:95px; height:38px; line-height:36px;}
.btnBox.sz_regular button img{display:inline-block; width:16px; margin:-3px 7px 0 0;}
.btnBox.sz_small button{min-width:70px; height:32px; padding:0 15px; font-size:12px;}
.btnBox.sz_small button img{display:inline-block; width:13px; margin:-3px 7px 0 0;}

button.btnS_basic{color:#fff; border:1px solid #0fb786; background:#0fb786;}
button.btnS_basic:disabled{color:#787a8a; border:1px solid rgba(11,42,74,0.02);  background:rgba(11,42,74,0.1);}

/* checkBox */
.checkBox{display:inline-block; position:relative; min-height:21px; margin:0 5px 0 0;}
.checkBox input[type="checkbox"]{position:absolute; overflow:hidden; width:1px; height:1px; padding:0; margin:-1px; clip:rect(0,0,0,0); border:0;} 
.checkBox input[type="checkbox"] + label{display:inline-block; position:relative; margin:0 10px 0 0; padding-left:22px; font-size:12px; word-break:keep-all; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;}
.checkBox input[type="checkbox"] + label:before{content:''; position:absolute; top:0; left:0; width:17px; height:17px; line-height:15px; text-align:center; border:1px solid rgba(11,42,74,0.3); border-radius:3px; background:#fff;}
.checkBox input[type="checkbox"] + label:active:before, .checkBox input[type="checkbox"]:checked + label:active:before{}
.checkBox input[type="checkbox"]:checked + label{color:#131313;}
.checkBox input[type="checkbox"]:checked + label:before{content:'\2714'; color:#fff; border-color:#0fb786; background:#0fb786;}
.checkBox input[type="checkbox"]:disabled + label:before{background:rgba(11,42,74,0.1);}

/* select */
.select{display:inline-block; min-width:50px; min-height:34px; padding:3px 20px 3px 5px; font-family:inherit; color:#35384d; border:1px solid rgba(11,42,74,0.3); border-radius:3px; background:#fff url("../images/arw_bottom_bk.png") right 7px top 50% no-repeat; -webkit-appearance:none; -moz-appearance:none; appearance:none; transition:all 0.3s ease-out;}
.select:focus{border:1px solid #0fb786; transition:all 0.3s ease-out;} 
.select:disabled{background-color:rgba(11,42,74,0.1); opacity:0.6;}

/* hide */
.hide {position:absolute; top:0; left:0; clear:both; overflow:hidden; width:0; height:0; margin:0; padding:0; line-height:0;}

/* clear */
.clearfix:after{content: ""; display: block; clear: both;}

/* -------------------- 레이아웃 -------------------- */
#wrap {width:100%; text-align:center; background:linear-gradient(145deg, #0c8b66 0%, #a2d663);}

#header {display:inline-block; width:1200px; height:100px; padding:0 15px; text-align:left;}
#header h1 {display:inline-block; margin:35px 0 0 0;}
#header h1 a {color:#fff;}

#container {}
#contents {}

.stn {width:100%; padding:25px 0; text-align:center;}
.lot_c {display:inline-block; width:1200px;  text-align:center;}
.lot_c h3 {display:inline-block; position:relative; width:200px; padding:0 0 25px 0; font-size:24px; font-weight:500;}
.lot_c h3:before {content:''; position:absolute; top:10px; left:0; width:30px; height:1px; background:#787e8e; opacity:0.5;}
.lot_c h3:after {content:''; position:absolute; top:10px; right:0; width:30px; height:1px; background:#787e8e; opacity:0.5;}

.lot_c .lot_cell:first-child {float:left; width:480px;}
.lot_c .lot_cell:last-child {float:right; width:520px;}

.news {display:block; margin:0 0 70px 0; text-align:left;}
.news ul.lst { border-radius:30px; background:rgba(255,255,255,0.3);}
.news ul.lst li {height:20px; padding:5px 10px;}
.news ul.lst li a {display:block; color:#fff;  line-height:20px; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; transition:all 0.3s ease-out;}
.news ul.lst li a:hover {color:#32325d; transition:all 0.3s ease-out;}
.news ul.lst li a:before {content:'속보'; display:inline-block; margin:0 10px 0 0; padding:0 10px; border-radius:20px; background-color: #085135;transition:all 0.3s ease-out;}
.news ul.lst li a:hover:before {color:#fff;transition:all 0.3s ease-out;}

.info {display:block; text-align:left;}
.info dl.date {display:block; margin:0; color:#fff; font-size:13px; font-weight:300;}
.info dl.date dt { display: inline-block; margin:0 5px 0 0;}
.info dl.date dd {display: inline-block;}
.info dl.txt {display:block; color:#fff; font-size:16px; font-weight:500; line-height:24px;}
.info dl.txt dt {display:block; margin:0 0 25px 0; font-size:40px; font-weight:700; line-height:40px;}
.info dl.txt dd {display:block; margin:0 0 15px 0;}

.confirm {display:block; min-height:300px; margin:0 0 50px 0; padding:40px; text-align:left; border-radius:7px; background:#fff; box-shadow:0 2px 10px rgba(0,0,0,0.1);}
.confirm .checkBox {display:block; margin:0 0 15px 0;}
.confirm .checkBox input[type="checkbox"] + label {padding-left:40px; font-size:16px; font-weight:500; letter-spacing:-1px;}
.confirm .checkBox input[type="checkbox"] + label span {display:block; padding:5px 0 0 0; font-size:13px; font-weight:300;}
.confirm .checkBox input[type="checkbox"] + label:before { width: 30px; height: 30px; line-height:30px;}

.confirm .btnBox {display:block;}
.confirm .btnBox button {display:block; width:100%; height:40px; margin:0; padding:0; color:#fff; font-size:16px; vertical-align:top; border:none; border-radius:5px; box-shadow:0 2px 5px rgba(0,0,0,0.2); background:#0fb786; transition:all 0.3s ease-out;}
.confirm .btnBox a {display:block; width:100%; height:40px; margin:0; padding:0; color:#fff; font-size:16px; vertical-align:top; border:none; border-radius:5px; box-shadow:0 2px 5px rgba(0,0,0,0.2); background:#0fb786; transition:all 0.3s ease-out;}
.confirm .btnBox button:hover, .confirm .btnBox a:hover {background:#32325d; box-shadow:0 2px 5px rgba(0,0,0,0.0); transition:all 0.3s ease-out;}

.confirm .phoneNum {display:block; margin:0 0 15px 0; padding:10px; box-shadow:0 0 10px rgba(0,0,0,0.1);}
.confirm .phoneNum .select {width:110px;}
.confirm .phoneNum input[type="tel"] {display:inline-block; width:calc(100% - 130px); min-height:22px; margin:0 0 0 5px; padding:5px; font-family:inherit; color:#35384d; border:1px solid rgba(11,42,74,0.3); border-radius:3px;transition:all 0.3s ease-out;}
.confirm .phoneNum input[type="tel"]:focus {border:1px solid #0fb786; transition:all 0.3s ease-out;}

.confirm .confirmNum {display:block; position:relative; margin:0 0 15px 0; padding:10px; box-shadow:0 0 10px rgba(0,0,0,0.1);}
.confirm .confirmNum input[type="number"] {display:inline-block; position:relative; width:calc(100% - 12px); min-height:22px; margin:0; padding:5px; font-family:inherit; color:#35384d; border:1px solid rgba(11,42,74,0.3); border-radius:3px; background: none; transition:all 0.3s ease-out; z-index:10;}
.confirm .confirmNum input[type="number"]:focus {border:1px solid #0fb786; background:#fff; transition:all 0.3s ease-out;}
.confirm .confirmNum span { position:absolute; top:17px; right:20px; font-size:13px; color:#ccc; z-index:3;}

.confirm .txt {display:block; text-align:center;}
.confirm .txt img {display:inline-block; width:50px;}
.confirm .txt em {display:block; padding:10px 0 20px 0; font-size:15px;}
.confirm .step02 {display:none;}
.confirm .step03 {display:none;}
#resultField {display:none;}

.tblBox {display:block; clear: both;position:relative; padding:10px; border-radius:3px; background: #fff; box-shadow:0 2px 10px rgba(0,0,0,0.1);}
.tblBox table {width:100%; table-layout:fixed; background:#fff;}
.tblBox table thead th{padding:10px; color:#131313; font-size:13px; font-weight:500; text-align:left; vertical-align:middle; letter-spacing:0; border-bottom:2px solid #131313;}
.tblBox table tbody td{padding:10px; color:#131313; font-size:13px; text-align:left; vertical-align:top; letter-spacing:0; word-break:keep-all; border-bottom:1px solid rgba(0,0,0,0.1); transition:all 0.3s ease-out;}
.tblBox table tbody tr:hover td { background:#f1f1f1; transition:all 0.3s ease-out;}
.tblBox table tbody td span {display:inline-block;}
.tblBox table tbody td span.num {width:26px; height:26px; color:#fff; font-size:12px; text-align:center; line-height:24px; vertical-align:middle; border-radius:20px; background:#0fb786;}
.tblBox table tbody td span.num.bg_red {background:#f43c3c;}
.tblBox table tbody td span.detail {display:block; position:relative; padding:0 0 7px 0;}
.tblBox table tbody td span.detail:before {content:''; position:absolute; bottom:3px; left:38px; width:4px; height:1px; background:#787e8e; z-index:3; transform:rotate(45deg);}
.tblBox table tbody td span.detail:after {content:''; position:absolute; bottom:3px; left:41px; width:4px; height:1px; background:#787e8e; z-index:3; transform:rotate(-45deg);}
.tblBox table tbody td span.detail:last-child {padding:0;}
.tblBox table tbody td span.detail:last-child:before {display:none;}
.tblBox table tbody td span.detail:last-child:after {display:none;}
.tblBox table tbody td span.detail em {display:inline-block; position:relative; vertical-align:top; z-index: 10;}
.tblBox table tbody td span.detail em.time {width:80px; margin:0 10px 0 0; padding:2px 0; color:#fff; text-align:center; line-height:16px; border-radius:20px; background:#8e909c;}
.tblBox table tbody td span.detail em.time:before {content:''; display:inline-block; width:10px; height:10px; margin:-2px 3px 0 0; line-height:16px; vertical-align:middle; background:url("../images/ico_time_w.png") 50% 50% no-repeat; background-size:cover; opacity:0.4;}
.tblBox table tbody td span.detail em.infectee {margin:0 10px 0 0;}
.tblBox table tbody td span.detail em.infectee:before {content:''; display:inline-block; width:10px; height:10px; margin:-2px 3px 0 0; line-height:16px; vertical-align:middle; background:url("../images/ico_infectee_bk.png") 50% 50% no-repeat; background-size:cover; opacity:0.4;}
.tblBox table tbody td span.detail em.place {}
.tblBox table tbody td span.detail em.place:before {content:''; display:inline-block; width:10px; height:10px; margin:-2px 3px 0 0; line-height:16px; vertical-align:middle; background:url("../images/ico_place_bk.png") 50% 50% no-repeat; background-size:cover; opacity:0.4;}
.tblBox table tbody tr:last-child td {border:none;}

#footer {width:100%; padding:30px 0; text-align:center; background:#fff;}
#footer .foo_l {float:left; padding:5px 0;}
#footer .foo_l p {display:inline-block; height:40px; color:#32325d; font-size:28px; font-weight:300; line-height:40px; vertical-align:top; letter-spacing:-1px;}
#footer .foo_l p span {display:inline-block; color:#0fb786; font-weight:500;}
#footer .foo_l p a {display:inline-block; height:40px; margin:0 0 0 15px; padding:0 40px; color:#fff; font-size:16px; vertical-align:top; border-radius:5px; box-shadow:0 2px 5px rgba(0,0,0,0.2); background:#0fb786; transition:all 0.3s ease-out;}
#footer .foo_l p a:hover {background:#32325d; box-shadow:0 2px 5px rgba(0,0,0,0.0); transition:all 0.3s ease-out;}
#footer .foo_r {float:right; padding:0;}
#footer .foo_r ul.lst {display:block; text-align: right;}
#footer .foo_r ul.lst li {display:block; color:#0fb786; font-size:12px; line-height:16px;}
#footer .foo_r ul.lst li dl {float:right;}
#footer .foo_r ul.lst li dl dt {float:left;}
#footer .foo_r ul.lst li dl dd {float:left; padding:0 0 0 5px;}



/*0303 mrs 추가*/
.stn.bg_g {padding:0;}
.stn.bg_g .lot_c{ padding: 0 0 50px; border-top: 1px solid rgba(255,255,255,0.5); position:relative;}

.path_stn {padding:50px 0 0 0;}
.path_stn .lot_c {border-bottom:1px solid rgba(255,255,255,0.5);display: block; margin: 0 auto;overflow: hidden; }
.path_stn .lot_c .lot_cell:last-child {float:left;width:100%; margin: 0 0 70px 0;}
.path_stn .lot_c .lot_cell .news {position:relative; width:505px; margin: 0 0 20px 0;}
.path_stn .lot_c .lot_cell .news span {margin: 34px 0 0 0;display: block; height: 19px; letter-spacing: 0.57px;color: #ffffff;font-size:16px;}
.path_stn .lot_c .lot_cell .info dl.txt dt { margin: 0 0 20px 0;font-size:42px;letter-spacing: -0.34px; line-height: 45px;}
.path_stn .lot_c .lot_cell .info dl.txt dt span {font-weight: 300;}
.path_stn .lot_c .lot_cell .info dl.txt dd {margin:0;line-height: 1.47;font-size:17px; font-weight: normal;letter-spacing: normal;color: #d9fcff;}

.searchArea {width: 1200px;margin:0 auto;overflow: hidden;padding: 0 85px;box-sizing: border-box;}
.searchArea em, .lot_c > em  {display: block; width: 121px;height: 41px; font-weight: bold; margin: 34px auto 60px; line-height:41px; font-size:18px; color: #1e5b42;border-radius: 16px;background-color: rgba(255, 255, 255, 0.4);}
.searchArea .searchBtn {display: inline-block;}
.searchArea .searchBtn button {display: block; clear: both; width: 352px;height: 54px;margin: 3px auto 53px;font-size:20px;color:#fff;border: none;border-radius: 4px;background-color: #5e4df8;}


/* selectType */
.selectType, .inputType  {float:left; margin:0 0 64px 0;width: 416px;height:56px; position:relative; vertical-align:middle;}
.selectType label {position:absolute !important; height:1px; width:1px; overflow:hidden; clip:rect(1px,1px,1px,1px);}
.selectType select {overflow:hidden; display:block; width: 100%; height:100%;box-sizing: border-box;  line-height:30px; padding:0 30px 0 15px; border:1px solid #cfd5eb; background:#fff url(../images/ico_arrow.png) right 19px center no-repeat; background-size:17px; text-align:left; border-radius:5px; box-shadow:0 0 5px 0 rgba(27, 46, 88, 0.15); -webkit-box-shadow:0 0 5px 0 rgba(27, 46, 88, 0.15); font-size: 20px; letter-spacing: -0.58px;color: #565656;appearance:none; -webkit-appearance:none;}
.selectType select::-ms-expand {opacity:0;}/* ie10부터 적용 */
.timeselect {width:150px;margin:0 115px 64px 0; }

.dataType{float:left; margin: 0 15px 20px 0; width: 296px;height:56px; position:relative; vertical-align:middle;}
.dataType input.ipt_txt{ background: #fff url(../images/ico_cal.png) right 19px top 50% no-repeat; background-size: 23px 28px; width: 100%; height: 100%; border: none; padding: 0 18px; box-sizing: border-box; border-radius: 4px; letter-spacing: -0.58px;color: #565656;font-size:20px;}

.inputType .textType {width:100%;height:100%; border:none; padding: 0 50px 0 23px;box-sizing: border-box;border-radius: 4px;letter-spacing: -0.58px;color: #565656;font-size: 20px;}
.sub_tit {position:absolute; left:0; top:-27px;font-size:20px;letter-spacing: -0.16px; color: #ffffff;}

.resetBtn {position:absolute;top:36px;right: 453px;width:40px;height:40px;border-radius: 40px;border:none; background: transparent;padding: 0;}
.resetBtn img {width:auto; animation: spin linear 2s infinite; }

@keyframes spin {
    100%{
        transform: rotate(-360deg);
    }
}

.tblBox2{padding:0;}
.tblBox2:before {content: '동선 추적: 10m 이내';position:absolute;top:-30px; left:0; color:#fff; letter-spacing: 0.64px;font-size:18px;}
.tblBox2 .tbl_sub {width: 411px;height:32px; box-sizing:border-box; border-right: solid 2px #979797; line-height: 32px;letter-spacing: -0.3px; color: #010101; font-size: 13px;font-weight:600;}
.tblBox2 table thead th{ border-top: solid 1px #979797; border-bottom: solid 1px #979797;height: 32px;padding: 0 10px; text-align: center;}
.tblBox2 table thead th:first-child {background:url(../images/ico_greenArrow.png) 12px center no-repeat;background-size: 10px; }
.tblBox2 table thead th:last-child {border-left: solid 2px #979797;border-top: solid 1px #979797;text-align: left;}
.tblBox2 table tbody td:nth-child(3){border-right: solid 2px #979797;}
.tblBox2 table tbody tr:last-child td:nth-child(3) {border-right: solid 2px #979797;}
.tblBox2 table tbody td.overlap {padding:0;}
.tblBox2 table tbody td ul {display: block;overflow: hidden;border-bottom: 1px solid rgba(0,0,0,0.1)}
.tblBox2 table tbody td ul:last-child{border-bottom:none;}
.tblBox2 table tbody td ul li{height: 40px;line-height: 40px;float: left;padding:0 10px;}
.tblBox2 table tbody td .dtl_btn{display: inline-block; position:relative; cursor: pointer; margin: 0px 3px;}
.tblBox2 table tbody td .dtl_btn img{width:14px;vertical-align: middle;}
.tblBox2 table tbody td .dtl_btn span {display: none; position: absolute;top: 4px;right: -400px;height: 29px;padding: 0 15px;line-height: 29px;border-radius: 4px;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);border: solid 1px #979797;background-color: #ffffff;z-index: 100;}
.tblBox2 table tbody td .dtl_btn span em {display: inline-block;vertical-align: middle;line-height: 20px;color: #fff;font-size: 11px; padding:0 5px;height: 20px;border-radius: 8px;background-color: #5e4df8;}

/* paging */
.paging{float:right;clear:both; vertical-align:top; text-align:center; margin: 0 0 10px 0;}
.paging .selectbox{margin:0 7px 0 0; vertical-align:top;}
.paging a{display:inline-block; overflow:hidden; height:28px; margin:0 7px; color:#fff; font-size:14px; text-decoration:none; line-height:26px; vertical-align:top; border-radius:5px; transition:all 0.3s ease-out;}
.paging a.btn_paging_prev,.paging a.btn_paging_next{width:28px; height:100%; margin:0 1px; text-indent:-9999px; }
.paging a.btn_paging_prev{background:url(../images/ico_paging_prev.png) center center no-repeat; background-size:10px 10px;}
.paging a.btn_paging_next{background:url(../images/ico_paging_next.png) center center no-repeat; background-size:10px 10px;}
.paging a:hover, .paging a:focus{color:rgba(59,68,91,1.0); text-decoration:underline; opacity:1.0; transition:all 0.3s ease-out;}
.paging a.btn_paging_prev:hover,.paging a.btn_paging_next:hover,
.paging a.btn_paging_prev:focus,.paging a.btn_paging_next:focus{opacity:0.7; transition:all 0.3s ease-out;}
.paging strong{display:inline-block; overflow:hidden; height:28px; margin:0 7px; color: rgba(59,68,91,1.0); font-size:14px; line-height:26px; vertical-align:top;}


@media all and (max-width:768px){
#header {width:calc(100% - 30px); height:60px;} 
#header h1 {margin:20px 0 0 0;}

.lot_c {width:calc(100% - 30px); text-align:left;position:relative;}
.lot_c .lot_cell:first-child {display:block; float:none; width:100%; margin:0 0 50px 0;}
.lot_c .lot_cell:last-child {display:block; float:none; width:100%;}

.news {margin:0 0 50px 0;}
.news ul.lst li {padding:5px;}

.confirm {min-height:auto; margin:0 0 15px 0; padding:15px;}
.confirm .phoneNum .select {display:block; width:100%; margin:0 0 10px 0; box-sizing:border-box;}
.confirm .phoneNum input[type="tel"] {display:block; width:100%; margin: 0; box-sizing:border-box;}
#footer {padding:10px 0;}
#footer .foo_l {display:block; float:none;}
#footer .foo_l p {height:auto; font-size:20px; line-height:26px;}
#footer .foo_l p a {height:auto; margin:5px 0 0 0; padding:5px 10px; font-size:16px;}
#footer .foo_r {display:block; float:none; padding:15px 0 0 0;}
#footer .foo_r ul.lst li {clear:both;}
#footer .foo_r ul.lst li dl {display:block; float:none;}
.lyrBox{width:calc(100% - 30px); }
#resultField .lot_c { text-align:center;}
.tblBox table {table-layout: auto;}

.tblBox table tbody td span.detail em {display:block !important; margin:0 0 7px 0 !important;}
}



